snippet packmain
	package main

	import (
		"${1:fmt}"$2
	)

	func main() {
		fmt.Println("${3}started...")
		$4
	}

snippet func
	func ${1:main}($2) $3 {
		$5
		return ${4:nil}
	}

snippet map
	map[$1]$2

